@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mx-auto my-3 bg-iconContainer text-green-500 rounded-full hover:text-white rounded-md rounded-3xl hover:rounded-xl transition-all duration-300 hover:bg-green-500 cursor-pointer;
  }

  .toolip {
    @apply absolute left-16 w-20 h-8 bg-slate-900 font-semibold text-white rounded-lg justify-center items-center flex scale-0 transition-all duration-200;
  }
  .done-button {
    @apply flex-1 rounded-lg h-10 text-white bg-blue-600 shadow-md transition-all duration-300 hover:shadow-blue-400
  }
  .back-button {
    @apply flex-1 rounded-lg border-gray-200 hover:bg-gray-100 border h-10 text-stone-600 transition-all duration-200
  }
  @keyframes colorChangeAnimation {
  0% {
    background-color: grey;
  }
  100% {
    background-color: inherit;
  }
}

.grey-animation {
  animation-name: colorChangeAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
body {
}
}